

.MostWantedHome .img{
    z-index: -10;
}

.MostWantedHome .aler3::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0;
  background-color: #cca471;
  width: 260px;
  height: 4px;
}
@media (min-width: 768px) {
  .MostWantedHome .aler3::after {
    left: -20px;
    width: 590px;
    height: 5px;
  }
}

.btn{
  z-index: 1;
  background-color: #343435;
  
}
.btn::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #cca471;
  width: 100%;
  height: 3px;
  z-index: -1;
  transition: .3s;
  
}

.btn:hover::after{
  height: 100%;
}
