.PopularHome .alen::after{
    content: '';
    position: absolute;
    left: -10px;
    bottom: 0;
  background-color: #cca471;
  width: 200px;
  height: 4px;
}
@media (min-width: 768px) {
  .PopularHome .alen::after {
    left: -30px;
    width: 320px;
    height: 5px;
  }
}



