
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@font-face {
  font-family: 'lora';
  src: url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
}

body{
  background: linear-gradient(#f1fdee , #dcfad4);
  
}

.footerLogo{
  border-radius: 50%;
}

.home h1{
  font-family: lora ;
}
nav{
font-family: sans-serif;
}


.sideBar{
  border-radius: 0 80px 80px 0;
  transition: .5s;
}

.sideBar.open{
left: -200px;
}

.sidebar-btn{
  border-radius: 0 15px 15px 0;
}

.crcle{
  border-radius: 100%;
}

.cards{
  padding-left: 50px;
}